@font-face {
    font-family: 'Hannover';
    src: url('../font/Hannover.woff2') format('woff2'),
        url('../font/Hannover.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}